/* CA Job List CSS */
  /* Template One */
	#ca-job-listing-template-one label {font-weight: bold;}
  #ca-job-listing-template-one .views-field-view-node {float: right; margin-right: 10px;}
  #ca-job-listing-template-one .views-field-nothing {clear: both; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #D2D2D2;}
  #ca-job-listing-template-one .views-row-last .views-field-nothing {border: none;}
	.ca-job-listing-template-one label {font-weight: bold;}
  .ca-job-listing-template-one .views-field-view-node {text-align: right; margin-right: 10px;}
  .ca_job_listing-template-one .views-field-nothing {clear: both; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #D2D2D2;}
  .ca_job_listing-template-one .views-row-last .views-field-nothing {border: none;}